@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

section label {
  user-select: none;
}

section a {
  color: #e0e0e0;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-decoration: none;
}

.container {
  width: 100%;
  background-color: #1f1f1f;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin: auto;
  padding: 20px;
  color: #cbcbcb;
  word-spacing: 2px;
}

.example-name {
  margin: 10px 0px;
}

.container header {
  width: 100%;
  color: #00b6ff;
  font-size: 22px;
}
.container header a {
  text-decoration: none;
  color: inherit;
}

.container header h1 {
  font-size: 2rem;
}

.container header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.container header .row .git-link {
  display: flex;
  align-items: center;
  gap: 4px;
}
.container .info {
  width: 100%;
  margin: 14px 0;
  color: #c7c7c7;
  font-size: 15px;
  border-bottom: solid 1px #646464;
  padding-bottom: 11px;
}

.intro {
  width: 100%;
  line-height: 22px;
}
.intro h2 {
  font-size: 1.17rem;
  margin-bottom: 10px;
}
.intro a {
  color: skyblue;
  text-decoration: none;
}

section {
  width: 100%;
  border-bottom: solid #606060 1px;
  padding: 20px 7px;
}
section .section-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #00b6ff;
  margin-bottom: 20px;
}
section .left-m-responsive {
  margin-left: 140px;
  transition: 0.2s;
}
section .example-info {
  font-size: 15px;
  margin-bottom: 15px;
}

.sortable-container {
  width: 300px;
  max-height: 600px;
  border: solid #000000 1px;
  border-radius: 7px;
  background-color: rgb(23 23 23);
  overflow: auto;
  padding: 15px;
}

.sort:not(.sort-container),
.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  color: #b4b4b4;
  font-size: 13px;
  margin-top: 10px;
  border-radius: 5px;
  outline: solid #1f1f1f 1px;
  background-color: rgb(26 26 26);
}

section .containers-example {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

span.message {
  display: inline-block;
  font-size: 12px;
  color: #088d9c;
  padding-bottom: 10px;
}

section .container-wrapper {
  border: solid 1px #3d3d3d;
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
}

section .container-wrapper .wrapper-head {
  background-color: #000000;
  width: 100%;
  text-align: center;
  padding: 10px;
}

section .containers-example .sort-container,
.school-container {
  min-height: 180px;
  border: none;
}

section .containers-example .sort-container .suggestion,
.suggestion {
  color: gray;
  font-size: 12px;
  border-bottom: solid 1px #403f3f;
  width: 100%;
  display: block;
  padding-bottom: 4px;
}

.fallback {
  border: rebeccapurple 1px solid;
}
.fallback-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 12px;
  color: white;
  border: rebeccapurple solid 1px;
  background: #2e003f;
}

.methods-expample h3 {
  display: inline-block;
  padding: 5px 13px;
  background-color: #000000;
  font-size: 15px;
  border-radius: 7px;
  margin: 3px 0;
}
.methods-expample p {
  display: inline-block;
  font-size: 13px;
}

.code-preview-wrapper {
  margin-top: 35px;
}
.code-preview-wrapper .code-preview {
  margin: 15px 0;
}
.code-preview .code-heading {
  margin-bottom: 10px;
  color: #c7c7c7;
}
.code-preview .pre-code-wrapper {
  position: relative;
}
.code-preview .pre-code-wrapper pre.code {
  background: #131313;
  border-radius: 9px;
  padding: 20px 0;
  overflow: auto;
  padding: 5px;
  max-height: 250px;
}
.code-preview .copy-btn {
  position: absolute;
  top: 7px;
  right: 13px;
  border: none;
  background: #00b6ff36;
  color: #ffffffa3;
  padding: 6px 11px;
  border-radius: 7px;
  cursor: pointer;
  display: none;
}
.code-preview:hover .copy-btn {
  display: block;
}
.disabled {
  opacity: 0.3;
}

.m-0 {
  margin-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}

.border,
.containers-example .sort-container.border {
  border: solid 1px #333232;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #393939;
  border-radius: 6px;
}

@media only screen and (max-width: 480px) {
  section .left-m-responsive {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  .container .info {
    text-indent: 0;
  }
  .container .info,
  section .example-info {
    font-size: 12px;
  }
}

table,
th,
td {
  border: 1px solid rgb(114, 114, 114);
  border-collapse: collapse;
  padding: 10px;
}
